.certification-container{
    padding-top: 5%;
    overflow: hidden;
    z-index: 998;
}

.cert-title-container{
    text-align: end;
}

.cert-title{
    font-family: "Anybody", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.cert-container{
    margin-top: 10%;
    height: 100%;
}

.cert-content{
    position: relative;
    z-index: 998;
    background-color: #faf6f3;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 4em;
    padding-left: 10%;
    border-top: 3px solid #212529;
}

.cert-content:last-child{
    border-bottom: 3px solid #212529;
}

@media only screen and (max-width:800px){
    .cert-content{
        font-size: 2em;
    }
    .border-cert-line{
        width: 70%;
    }
}

.certificate-image{
    padding: 20px;
    padding-left: 10%;
    height: 0px;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    z-index: 888;
}