
.contact-container{
    margin-top: 15%;
    overflow-x: hidden;
}

.contact-title{
    font-family: "Anybody", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.model-section {
  width: 100%;
  height: 500px; /* Try 600px or more if needed */
  position: relative;
  overflow: hidden;
}


#model-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
  position: relative;
}

.contact-content{
    margin-top: 10%;
} 

.social-box{
  display: flex;
  align-items: center;
}

.social-box h2 a {
  cursor: none;
}

.social-box h2 {
  margin-block: 5%;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
}

.social-box h2::before {
  content: "-";
  margin-right: 0.5rem;
}

.social-box h2:hover a {
  text-decoration: underline;
}

.social-box h2::after {
  content: "";
  margin-left: 0.5rem;
  transition: all 0.3s ease;
}


@media only screen and (max-width:700px){
  .social-box h2 {
    font-size: x-large;
  }
}