@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');

.navbar{
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 999;
}

@media only screen and (max-width:991px){
  .navbar{
    left: 0px;
  }
}

.navbar-nav {
    font-family: "Anybody", sans-serif;
    font-size: 1.5em;
}

.navbar-nav span{
    color: #b0adaa;
}


.navbar-nav .active span{
    color: #000000;
}

a {
  text-decoration: none;
  color: initial;
}
li a {
    display: grid;
    height: 40px;
    grid-template-rows: 23px;
    align-items: center;
    font-size: 2rem;
    line-height: 1.7;
    overflow: hidden;
    padding: 0.8rem;
}

li a:link .menu-item {
  animation: 500ms forwards move-down-initialmenu-noHover;
}
li a:link .menu-item-active {
  animation: 500ms forwards move-down-activemenu-noHover;
}
li a:hover > .menu-item {
  animation: 500ms forwards move-up-initialmenu-onHover;
}
li a:hover > .menu-item-active {
  animation: 500ms forwards move-up-activemenu-onHover;
}

.menu-item-active {
  /* color: blue; */
}
@keyframes move-up-initialmenu-onHover {
  100% {
    transform: translateY(-100%);
  }
}
@keyframes move-up-activemenu-onHover {
  100% {
    transform: translateY(-70%);
  }
}
@keyframes move-down-initialmenu-noHover {
  0% {
    transform: translateY(-100%);
  }
}
@keyframes move-down-activemenu-noHover {
  0% {
    transform: translateY(-70%);
  }
}

.template-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 2rem;
  width: 15rem;
  border-radius: 5px 0 0 0;
  background-color: #ffffba;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.6rem;
}