
.hero-content{
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}

.cirlcle-logo{
    position: absolute;
    height: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
  font-size: 4rem; 
}

.hero-stretch-left {
    position: absolute;
    width: 60%;
    display: block;
}

.hero-stretch-right {
    position: absolute;
    right: -40%;
    bottom: 20%;
    width: 60%;
    display: block;
    overflow-x: hidden;
}

@media only screen and (max-width:700px){
    .cirlcle-logo{
        transform: translate(-50%, -100%);
    }
    .hero-stretch-left {
        top: 5%;
        width: 75%;
    }
    .hero-stretch-right {
        width: 100%;
        right: -67%;
        bottom: 25%;
    }
}

.about-container{
    position: relative;
    height: auto;
    margin-top: 5%;
    padding-top: 5%;
}

.about-content {
    padding: 10% 10% 10% 10%;
    font-family: "Anybody", sans-serif;
    font-size: 1.5em;
    text-align: justify;
}

.float-container {
    position: absolute;
}

.float-text{
}

.text-1{
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
}

.text-2{
    font-family: "Playwrite HU", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.text-3{
    font-family: "Lavishly Yours", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: xx-large;
}

.text-4{
    font-family: "Press Start 2P", system-ui;
    font-weight: 700;
    font-style: normal;
}

.text-5{
    font-family: "Syne Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.text-6{
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.text-me{
    font-family: "Anybody", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media only screen and (max-width:700px){
    .text-2, .text-4{
        font-size: medium;
    }
}

.about-title-container{
    text-align: end;
}

.about-title{
    font-family: "Anybody", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Skill styles */

.skill-container{
    margin-top: 10%;
    height: auto;
    padding-block: 40px;
    background-color: #121212;
    color: #faf6f3;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: xx-large;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skill-container span{
    transition: 500ms;
    cursor: none;
}

.hover-image {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  cursor: none;
  transform: scale(0.3);
}

.hover-image img {
  width: 100%; /* Make the image take up the full width of the div */
  height: auto; /* Maintain aspect ratio */
  display: block;
}

.dimmed {
  opacity: 0.25;
  transition: opacity 0.3s ease;
}
