@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=DynaPuff:wght@400..700&family=Lavishly+Yours&family=Playwrite+HU:wght@100..400&family=Press+Start+2P&family=Rubik+Doodle+Shadow&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
  scroll-behavior: auto;
  cursor: none;
  overflow-x: hidden;
}
body {
    /* cursor: url('../public/assets/ellipse.cur'), auto; */
    cursor: none;
    overflow-x: hidden;
    background-color: #faf6f3;
}

/* Prevent Chrome's default smooth scrolling */
* {
  scroll-behavior: auto !important;
  scrollbar-width: none;
  /* scrollbar-color: #0a0a0a #1a1a1a00; */
}

img{
  user-select: none;
  pointer-events: none;
}

::selection{
  background-color: rgb(15, 15, 15);
  color: #fbfbfb;
}

.cursor-circle {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #faf6f3;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}

@media only screen and (max-width:800px){
  .cursor-circle {
    display: none;
  }
}
